html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1F151F;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.active{
    background-color: #1F151F;
    color: #F4F7F3;
    border: 5px solid #F4F7F3;
}

.content{
    display: flex;
    justify-content: space-between;
}

.selectorContainer{
    display: flex;
    justify-content: center;
    flex:1;
}

#sizeValue{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: #F4F7F3;
    font-size: 1rem;
    align-self: center;
    border: 2px solid #F4F7F3;
    padding: 0rem 1rem;
    border-radius: 1rem;
    user-select: none;
}

.header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #F4F7F3;
    font-size: 5rem;
    user-select: none;
}

.footer{
    flex: 1;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: #F4F7F3;
    color: #1F151F;
    font-weight: 900;
    padding: .5rem 0rem;
    margin: 0rem 1rem;
    border-radius: 1rem;
    border: 5px solid #1F151F;
    max-width: 200px;
    user-select: none;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#container{
    display: grid;
    background-color: #F4F7F3;
    width: calc(500px + 1rem);
    height: calc(500px + 1rem);
    box-shadow: rgba(0,0,0, .24) 0px 3px 8px;
    border: 1rem solid #BE3E52;
}

#selectorBox{
    background-color: #BE3E52;
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
}

.container{
    display: flex;
    flex:1;
}

.spacer{
    display: flex;
    flex: 1;
}

.slideContainer{
    width: 100%;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    max-width: 200px;
    height:25px;
    background: #d3d3d3;
    outline:none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0rem 2rem;
}

.slider:hover{
    opacity: 1; 
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: #ED3931;
    border: 2px solid #1F151F;
    position: relative;
}

.gridElement{
    user-select: none;
}